.destination-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination-ul {
  list-style: none;
  padding-left: 0px;
}

.destination-item {
  font-family: "Roboto", sans-serif;
}

.destination-item {
  width: 200px;
  height: 75px;
  font-size: 25px;
  background: linear-gradient(135deg, #379683, #05386b);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 2px;
  margin: 0px 0px 10px 0px;
}

.next-button {
  width: 200px;
  height: 75px;
  font-size: 25px;
  background: linear-gradient(135deg, #379683, #05386b);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 2px;
  margin: 75px 0 0 0;
}

.destination-title {
  color: #5cdb95;
}

.destination-expanded {
  &.hidden {
    display: none;
  }

  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #5cdb95;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.destination-expanded-title {
  font-family: "Roboto", sans-serif;
  color: #05386b;
  font-size: 32px;
}

.destination-expanded-description {
  color: #05386b;
  font-size: 20px;
}

.trip-items {
  list-style: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trip-item {
  margin: 20px 0px 0px 0px;
  padding: 15px;
  background-color: #edf5e1;
  width: 80%;
  border-radius: 2px;
  border: #379683 solid 5px;

  &.danger {
    border: #e91e63 solid 5px;
  }

  &.disabled {
    border: none;
    background: rgba($color: #000000, $alpha: 0.5);
  }

  &.hidden {
    display: none;
  }
}

.trip-content {
  font-size: 15px;
}

.crowd-estimation {
  content: " ";
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  margin: 5px;

  &.green {
    background-color: green;
  }

  &.yellow {
    background-color: yellow;
  }

  &.red {
    background-color: red;
  }
}

.col {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-content: space-around;
}

.row {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: space-around;
}

.date-adjust {
  font-size: 30px;
}

.close {
  width: 93%;
  font-size: 25px;
  margin-top: 10px;
}

.trip-expanded {
  &.hidden {
    display: none;
  }

  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #5cdb95;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.activities-expanded {
  &.hidden {
    display: none;
  }

  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #5cdb95;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.activity-item {
  margin: 20px 0px 0px 0px;
  padding: 15px;
  background-color: #9db972;
  width: 80%;
  border-radius: 2px;
  border: #379683 solid 5px;
}

.create-ride {
  &.hidden {
    display: none;
  }

  width: 100%;
  height: 50px;
  font-size: 25px;
  background: linear-gradient(135deg, #379683, #05386b);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.activity-name {
  font-size: 30px;
}

.activity-sponsored {
  margin-top: -15px;
}

.activity-book {
  font-size: 20px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.trips-card {
  background: #5cdb95;
}
