@import "_vars";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.header-title {
  font-family: "Bowlby One SC", cursive;
  font-size: 46px;
  color: dark-grey;
}
