@import "_vars";

.main-container {
  width: 100vw;
  height: 100vh;
  max-width: 700px;
  margin: auto;
  padding: 15px;

  // background: url("/src/assets/nuuksio.jpg") no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}
